.container
  .row
    .col.s12.m12.center
      .card-panel.teal.white-text
        %h2 Welcome! #{current_user.username}
        %span{class: 'white-text'}
          I hope you feel good, have a nice day.