.container
  = simple_form_for @sale do |f|
    .row.col.m6
      = f.input :amount, as: :integer
    .row.col.m6
      .switch
        %label
          Unavailable
          = f.check_box :expired
          %span.lever
          Available
    .row.col.m12
      = f.submit 'Save', class: 'btn'