%nav
  .nav-wrapper.blue
    - if user_signed_in?
      %a.sidenav-trigger{"data-target" => "slide-out", :href => "", :style => "display: inline;"}
        %i.material-icons menu
      %ul#slide-out.sidenav
        %li
          .user-view
            .background
              %img{:src => "http://materializecss.com/images/office.jpg"}/
            %a{:href => "#user"}
              %img.circle{:src => "http://materializecss.com/images/yuna.jpg"}/
            %a{:href => "#name"}
              %span.white-text.name= current_user.username
            %a{:href => "#email"}
              %span.white-text.email= current_user.email
        %li
          %a{:href => "/enterprises/#{current_user.enterprise_id}/edit"}
            %i.material-icons> domain
            My company
        %li
          %a{:href => "/sales"}
            %i.material-icons> poll
            Sales
        %li
          %a{:href => "/articles"}
            %i.material-icons> shopping_cart
            Articles
        %li
          .divider
        %li
          %a.subheader Configuration
        %li
          = link_to 'Sign out', destroy_user_session_path, method: :delete
    %a{href: '/', class: 'brand-logo center'} Administrador


:javascript
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });